.notification{
  color: #fff;
}

.contactsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  border-radius: 30px;
  padding: 20px;
  max-height: fit-content;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.contactsTitle {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px;
  height: 305px;
}

.contactsListAlt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px;
  height: 305px;
}

.contactsData{
  border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.contactsPhone{
  color: #fff;
  background-color: #5785FF;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.contactsItemWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
  transform: translateY(0); /* No elevation initially */
  box-shadow: none; /* No shadow initially */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.contactsItem:hover{
  cursor: pointer;
  transform: translateY(-5px); /* Slight elevation */
  box-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.contactsDetails {
  display: flex;
  justify-content: space-between;
}

.contactsName{
    font-weight: 700;
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: inset 0 0 5px 5px #5785FF;
}


.contactsButtonArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.contactsButton{
    padding: 3px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
    border: none;
    color: #fff;
    background: #01092D;
    border: 1px solid #fff;
}

.contactsButton:hover{
background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.navigationArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.navigationButton{
    padding: 8px; 
    border: none;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
        background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
    background-size: 200% 200%;
    transition: background-position 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000);
}

.navigationButton:hover{
background: linear-gradient(270deg, #FE3737 -32.31%, #5785FF 63.97%, #667EED 191.94%);
  background-position: 100% 0; /* Shifts the gradient position */
}