.formLabel {
   display: inline-block;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    background-color: #01092D;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 3px;
}

.formInput {
    display: block;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    margin-top: 3px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}



.contactsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
}

.contactsData{
  border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}


.contactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
  transform: translateY(0); /* No elevation initially */
  box-shadow: none; /* No shadow initially */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.contactsItem:hover{
  cursor: pointer;
  transform: translateY(-5px); /* Slight elevation */
  box-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.contactsPhone{
  color: #fff;
  background-color: #5785FF;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsButtonArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.contactsButton{
    padding: 3px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
    border: none;
    color: #fff;
    background: #01092D;;
    border: 1px solid #fff;
}

.contactsButton:hover{
background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: inset 0 0 5px 5px #5785FF;
}