.homeDisplay{
  text-align: center;
}

.homeTitle{
  padding-top: 10px;
    font-weight: 700;
    font-size: 36px;
    color: rgb(114, 17, 17);
    font-family: 'DM Sans';
    padding-bottom: 20px;
}

.homeLink{
    padding: 10px;
    border: 1px solid rgb(114, 17, 17);
    border-radius: 30px;
    color: rgb(114, 17, 17);
    font-family: 'DM Sans';
    font-weight: 700;
    cursor: pointer;
    background-color: #f1dbba;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 160px;
    display: block;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}

.homeLink:hover{
  background-color:rgb(235, 144, 25);
  color: #fff;
}

.homeIntro{
  font-family: 'DM Sans';
  width: 1000px;
  color: rgb(114, 17, 17);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  font-weight: 700;
}

.detail{
  font-family: 'Comic Sans MS';
  font-weight: 700;
}

.detailsSection{
  padding: 10px;
  background-image: linear-gradient(#f1dbba, rgb(235, 144, 25));
  display: inline-block;
  border-radius: 30px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
  margin: 10px;
}

.detailsImageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.detailsImage{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid hsla(0, 0%, 6%, .3);
  padding: 5px;
}

.detailsImageButton{
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  color: rgb(114, 17, 17);
  font-family: 'DM Sans';
  font-weight: 700;
  background-color: rgb(240, 164, 65);
  border: 1px solid hsla(0, 0%, 6%, .3);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.detailsImageInput{
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  color: rgb(114, 17, 17);
  font-family: 'DM Sans';
  font-weight: 700;
  background-color: rgb(240, 164, 65);
  border: 1px solid hsla(0, 0%, 6%, .3);
  cursor: pointer;
  display: inline-block;
}

.detailsSectionTitle{
  background-color:#f1dbba;
  color: rgb(114, 17, 17);
  border: 3px solid #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.detailsWrapper{
  /*background-image: linear-gradient(to bottom, #c4253a 40%, #ffb8ca);*/
  /*background-color: #c4253a;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
  border: 1px solid hsla(0, 0%, 6%, .3);
    border-radius: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .3), 0 2px 4px -1px rgba(0, 0, 0, .2), 0 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.detailsItem{
padding: 10px;
background-color:#f1dbba;
color: rgb(114, 17, 17);
border-radius: 30px;
box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
border: 1px solid #fff;
}

.detailsCover{
  display: flex;
  align-items: center;
  gap:10px;
 background-color: rgb(240, 164, 65);
 border-radius: 30px;
 padding: 5px;
 border: 1px solid #fff;
 
}

.details{
 
  font-weight: 700;
}

.detailsVal{
  padding: 5px;
  border-radius: 30px;
  background-color:#f1dbba;
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  max-width: 230px;
  overflow: hidden;
}


.detailsValPhone{
  padding: 5px;
  border-radius: 30px;
  background-color:#f1dbba;
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    max-width: 140px;
    overflow: hidden;
  }