.phoneBook {
  background-image: linear-gradient(#f1dbba, rgb(235, 144, 25));
  border-radius: 30px;
  border: none;
  padding: 20px;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
  margin: 10px;
  width: 530px;
}

.phoneBookContainer{
  
}

.formTitle {
  margin-bottom: 20px;
  text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    font-family: 'DM Sans';
    text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;

}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
   border: 1px solid rgba(15, 15, 15, 0.3);
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.button {
  padding: 8px;
  border: none;
  border-radius: 30px;
  text-align: center;
  color: rgb(114, 17, 17);
  font-family: 'DM Sans';
  font-weight: 700;
  cursor: pointer;
  background-color: #f1dbba;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}

.button:hover {
background-color:rgb(235, 144, 25);
color: #fff;
}

.button:disabled {
  cursor:not-allowed;
  opacity: 0.5;
}

.buttonArea {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.formLabel {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 3px;
  color: #fff;
  background-color:rgb(235, 144, 25);
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 8px;

}

/*
.loginLabel{
display: flex;
flex-direction: column;}
*/

.formInput {
  display: block;
  border-radius: 4px;
  background-color: #f1dbba;
    color: rgb(114, 17, 17);
  padding: 10px;
  border-radius: 30px;
    font-family: 'DM Sans';
    font-weight: 700;
    margin-top: 3px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.formInput:disabled {
  cursor:not-allowed;
  opacity: 0.5;
}
