.footer{
    text-align: center;
    background-color: rgb(235, 144, 25);
    width:100%;
    font-family: 'DM Sans';
    font-weight: 700;
    padding: 3px;
    color: rgb(114, 17, 17);
    border-top: 1px solid #721111;
    /*border-top: 1px solid #fff;*/
}

.suspense{
    flex-grow: 1;
}