/*.coverWrapper{
  position: relative;
}

.cover{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.keyModal{ 
  background-image: linear-gradient(to bottom, #c4253a 40%, #ffb8ca);
  padding: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 30px;
  border: none;
  color: #fff;
}

.keyModalLabel{
  font-family: 'DM Sans';
  color: #fff;
  font-weight: 700;
  margin: 10px;
}

.keyModalButton{
  padding: 10px;
  background-color:#FFA5BA;
  border: none;
  font-family: 'DM Sans';
  color:#c4253a;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}

.keyModalButton:hover{
  color: #fff;
}


.form {
  width: 320px;
  font-family: 'DM Sans';
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.input{
       border-radius: 4px;
    font-family: 'DM Sans';
    font-weight: 700;
    margin-top: 3px;
    padding: 10px;
    background-color: #FFB8CA;
    color: #c4253a;
    border-radius: 30px;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: start;
}

.formContainer{
  border-radius: 30px;
  padding: 10px;
  background-color: #FFA5BA;
  border: none;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}*/
.notification{
  color: #fff;
}

.sortedWrapper{
  background: linear-gradient(90deg, rgba(254, 55, 55, 0.25) -32.31%, rgba(87, 133, 255, 0.25) 63.97%, rgba(102, 126, 237, 0.25) 191.94%);
  width: 600px;
  border-radius: 30px;
  transform: translateX(0%);
  transition: transform 1250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.coverWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: relative;
  
  padding: 42px;
}

.selected{
  transform: translateX(-50%);
}

.contactsDetailsHide{
  text-align: center;
 background: linear-gradient(90deg, rgba(254, 55, 55, 0.25) -32.31%, rgba(87, 133, 255, 0.25) 63.97%, rgba(102, 126, 237, 0.25) 191.94%);
position: absolute;
    bottom: 8%;
    width: 550px;
    border-radius: 30px;
    padding: 10px;
    transform: translateX(0%);
    opacity: 0;
    visibility: hidden;
    transition: transform 1250ms cubic-bezier(0.165, 0.84, 0.44, 1),
                opacity 1250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 1250ms cubic-bezier(0.4, 0, 0.2, 1);
                font-weight: 700;
}

.contactsDetailsShow{
    transform: translateX(60%);
    opacity: 1;
    visibility: visible;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  background-color:#01092D;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

.contactsDetailsArea{
  margin-top: 20px;
}

.contactImage{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid hsla(0, 0%, 6%, .3);
  padding: 5px;
}


.detailsSection{
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
  margin: 10px;
}

.detailsImageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.detailsImage{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid hsla(0, 0%, 6%, .3);
  padding: 5px;
}

.detailsImageButton{
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  color: rgb(114, 17, 17);
  font-family: 'DM Sans';
  font-weight: 700;
  background-color: rgb(240, 164, 65);
  border: 1px solid hsla(0, 0%, 6%, .3);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.detailsImageInput{
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 700;
  background-color: #01092D;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
}

.detailsSectionTitle{
  background-color:#f1dbba;
  color: rgb(114, 17, 17);
  border: 3px solid #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.detailsWrapper{
  /*background-image: linear-gradient(to bottom, #c4253a 40%, #ffb8ca);*/
  /*background-color: #c4253a;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
  border: 1px solid hsla(0, 0%, 6%, .3);
    border-radius: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .3), 0 2px 4px -1px rgba(0, 0, 0, .2), 0 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.detailsItem{
padding: 10px;
color: #fff;
border-radius: 30px;
box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
border: 1px solid #fff;
background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.detailsCover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
 border-radius: 30px;
 padding: 10px;
 border: 1px solid #fff;
 background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.detailsInfo{
  display: flex;
  align-items: center;
  gap:3px;
}

.details{
 
  font-weight: 700;
}

.detailsVal{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #fff;
  max-width: 305px;
  /*height: 35px;*/
  overflow: hidden;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.detailsDetailsVal{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 305px;
  height: 100px;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  white-space: normal; /* Allows the text to wrap */
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
}

.detailsDetailsVal::-webkit-scrollbar {
  width: 7px;
  padding: 3px;
}

.detailsDetailsVal::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.detailsDetailsVal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.detailsValPhone{
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  border: 1px solid #fff;
  box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

.detailsValInput{
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 700;
  width: 290px;
  height: 35px;
  font-size: 16px;
}

.detailsDetailsValInput{
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  height: 100px;
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 700;
  width: 290px;
  overflow: auto; 
  resize: none;
}

.detailsDetailsValInput::-webkit-scrollbar {
  width: 7px;
}

.detailsDetailsValInput::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.detailsDetailsValInput::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}





.detailsValInputPhone{
  padding: 5px;
  border-radius: 30px;
   background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
  border: 1px solid #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  height: 33px;
  color: #fff;
  font-family: 'DM Sans';
  font-weight: 700;
}


.backDrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  border-radius: 30px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.detailButton{
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #01092D;
    border: 1px solid #fff;
}

.detailButton:hover{
color: #fff;
background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}

.buttonWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.detailsEditClose{
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  background: #01092D;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

.detailsEditClose:hover{
background: linear-gradient(270deg, #5785FF 34.42%, #030F3F 144.24%);
}